{% extends "layouts/base.html" %}


{% block title %}Lista productos{% endblock %} 

{% block content %}
<h2 class="mb-3">Productos</h2>
<!--Parte 2? y 5 ahahhaha -->

<a class="btn btn-primary mb-3" href="{% url 'producto_create' %}">
  + Nuevo producto
</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Proveedor</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for p in productos %}
    <tr>
      <td>{{ p.producto.producto_id }}</td>
      <td>{{ p.producto.nombre }}</td>
      <td>{{ p.producto.descripcion|truncatechars:50 }}</td>
      <td>{{ p.proveedor.nombre }}</td>
      <td><a class="btn btn-sm btn-primary" href="{% url 'producto_update' pk=p.pk %}">Editar</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}