{% extends "layouts/base.html" %}

{% block title %}Productos de {{ proveedor.nombre }}{% endblock %}

{% block content %}
<h2>Productos de {{ proveedor.nombre }}</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Producto</th>
      <th>Descripción</th>
      <th>UOM</th>
    </tr>
  </thead>
  <tbody>
    {% for p in productos %}
    <tr>
      <td>{{ p.producto.producto_id }}</td>
      <td>{{ p.producto.nombre }}</td>
      <td>{{ p.producto.descripcion|truncatechars:50 }}</td>
      <td>{{ p.uom_compra }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a class="btn btn-primary mb-3"
   href="{% url 'producto_create' %}?proveedor_id={{ proveedor.proveedor_id }}">
  + Nuevo producto
</a>


<a class="btn btn-outline-secondary" href="{% url 'proveedores_ui' %}">
  Volver
</a>
{% endblock %}
