{% extends "layouts/base.html" %}


{% block title %}Lista persona{% endblock %} 

{% block content %}
<!-- PARTE 1: -->
<h2 class="mb-3">Personas</h2>

<a class="btn btn-primary mb-3" href="{% url 'persona_create' %}">
  + Nueva persona
</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Correos</th>
      <th>Celular</th>
    </tr>
  </thead>
  <tbody>
    {% for p in personas %}
    <tr>
      <td>{{ p.persona_id }}</td>
      <td>{{ p.nombres }}</td>
      <td>{{ p.apellidos }}</td>
      <td>{{ p.email }}</td>
      <td>{{ p.celular }}</td>
      <td><a class="btn btn-sm btn-primary" href="{% url 'persona_update' p.pk %}">Editar</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
